.weather-app {
  display: block;
  border: 5px solid #aac7e3;
  width: 600px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(152 155 163 / 12%);
  font-family: "Montserrat", sans-serif;
  color: #414345;
  margin-top: 100px;
}
